.progress-icon {
    
  position: fixed;
  top: 20px;
  left: 20px;
  width: 120px;
  height: 120px;
}
.div-video{
    position: fixed;
    z-index: 999999;
    background: rgb(0, 0, 0);
    height: 101vh;
    opacity: 1;
    width: 101vw;
    top: 0;
    left: 0;
}
video{
    margin: 0 auto;
    position: fixed;
    z-index: 9999;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-48%, -50%);
    background-color: black;
}
.highlight-theme * {
  background-color: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
   -webkit-transition-delay: 9999s;
   transition-delay: 9999s;
}
